NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBiJ9pIHeeRCw5spDoCDTc3xMmaqdBPou4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=extra-school-activity.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=extra-school-activity
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=extra-school-activity.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=344545124234
NEXT_PUBLIC_FIREBASE_APP_ID=1:344545124234:web:83e4608116417319c77273
NEXT_PUBLIC_WORKSPACE_ID=default
